<div class="border-2 border-black mx-auto">
	<div>
		<%= link_to image_tag(gif.image_url), gif, class: "gify" %>
		<div class="font-bold m-2 text-center text-sm">
			<span class="bg-gray-200 m-1 p-1">Tags: <%= linked_tag_list gif %>
			</span>
		</div>
	</div>
</div>
