<% @page_title="Add Gif" %>
<h1 class="text-center text-5xl">Add Gif</h1>
<%= render 'form', gif: @gif %>
<div class="text-center mt-3">
	<p>Not Ready? ->
		<%= link_to 'Back', gifs_path, class: 'button bg-gray-300 py-1 px-4 rounded' %>
	</p>
</div>
